/*Text Editor*/

body {
	font-family: 'Fira Code', monospace;
	color: lime;
}

textarea {
	color: lime;
	font-family: 'Fira Code', monospace;
	background-color: #0a0a0a;
	border-top: solid 1px lime;
}

.content {
	border-top: solid 1px lime;
	background-color: #161717;
}

div.input {
	background-color: black;
}

div.output {
	background-color: black;
}

/*Menu*/

#menu {
	background-color: #161717;
}

/*Popup*/

.popup {
	background-color: #0a0a0a;
}

/*Settings*/

hr.settings {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(256, 256, 256, 0), rgba(256, 256, 256, 0.75), rgba(256, 256, 256, 0));
}

div.settings_menu {
	border-right: solid 1px white;
}

	/*Theme Settings*/

div.vignette {
	background-color: #161717;
}

/*--- // --- // --- // --- */

/*Text Render*/
	
	/*Link*/

a {
	color: orange;
}

	/*Blockquote*/

blockquote {
	color: grey;
}

	/*HR Bar*/

hr {
	border: 0;
	height: 1px;
	background-color: lime;
}

	/*Table*/

table {
	background-color: #1D1D1D;
}

tr:nth-child(even) {
	background: #0E0E0E;
}

thead {
	background: black;
}

	/*Code*/

pre {
	background-color: #1D1D1D;
    border: 1px solid #0E0E0E;
    border-radius: 2px;
    padding: 5px;
}

code {
	color: red;
    font-family: 'Fira Code', monospace;
    background-color: #1D1D1D;
}

/*--- // --- // --- // --- */

/*Text Selector*/

::selection {
	background-color: lime;
	color: white;
}

::-moz-selection {
	background-color: lime;
	color: white;
}

/*Overflow*/

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: #333333;
}

::-webkit-scrollbar-thumb {
	background: #4a4a4a;
}

::-webkit-scrollbar-thumb:hover {
	background: #5c5c5c;
}