/* App Layout : */

body {color: #505050;}
header {background-color: white;}
svg.icon {color: black;}
.modal {background-color: white;}
	
	/* Input */
#input {
	color: #505050;
	background-color: #fcfcfc;
}
#input::placeholder {color: gray;}

	/* Output */
#output {
	color: #282828;
	background-color: #fefefe;
}
	
	/* Themes Showcase*/
div.object {background-color: #f7f7f7;}
div.object:hover {background-color: #fcfcfc;}

/* Output Tag : */

#output blockquote {color: gray;}
#output code {background-color: rgba(0,0,0, 0.05);}
#output hr {background-color: rgba(0,0,0, 0.1);}
#output pre {background-color: rgba(0,0,0, 0.02);}
#output a {color: #2f54eb;}
#output a:hover {color: #597ef7;}
#output table {background-color: white;}
#output thead tr th {background-color: rgba(0,0,0, 0.1);}
#output tbody tr:nth-child(even) td {background-color: rgba(0,0,0, 0.05);}

/* Selection Highlight */

::selection {
	background-color: #3e3d32;
	color: white;
}

/* Scrollbar */

::-webkit-scrollbar-track {background: #f1f1f1;}
::-webkit-scrollbar-thumb {background: #999999;}
::-webkit-scrollbar-thumb:hover {background: #666666;}